<div class="container">
  <div class="card-group">
    <div class="card border-0 col-lg-8 col-md-12 col-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/qj4DQfYx2Hg"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="card border-0 col-lg-4 col-md-12 col-12">
      <h1 class="card-title">
        Hack Iloilo in Iloilo #hackiloilo
      </h1>
      <h6 class="card-text">Dates: August 21</h6>
      <h6 class="card-text">Location: Acclaim Computer Center <br> 112 Lopez Jaena St., Jaro, Iloilo City, 5000 Iloilo
      </h6>
      <h6 class="card-text">Cost: FREE</h6>
      <h6 class="card-text">Contact: dwightdiesmo@gmail.com</h6>
      <h6 class="card-text">Github: Github</h6>
    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container col-4 text-center">
  <h1 class="">Registration</h1>
 <!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/hack-iloilo-tickets-62177183630" rel="noopener noreferrer" target="_blank"></noscript>
  <!-- You can customize this button any way you like -->
  <button id="eventbrite-widget-modal-trigger-62177183630" class="btn btn-lg btn-outline-warning px-5" type="button">Register Now</button>
  <noscript></a>Buy Tickets on Eventbrite</noscript>
  
  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  
  <script type="text/javascript">
      var exampleCallback = function() {
          console.log('Order complete!');
      };
  
      window.EBWidgets.createWidget({
          widgetType: 'checkout',
          eventId: '62177183630',
          modal: true,
          modalTriggerElementId: 'eventbrite-widget-modal-trigger-62177183630',
          onOrderComplete: exampleCallback
      });
  </script>
</div>

