<div class="container">
  <div class="card-group">
    <div class="card border-0 col-lg-8 col-md-12 col-12">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/qj4DQfYx2Hg"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="card border-0 col-lg-4 col-md-12 col-12">
      <h1 class="card-title">
        Hack Iloilo in Iloilo #hackiloilo
      </h1>
      <h6 class="card-text">Dates: August 21</h6>
      <h6 class="card-text">Location: Acclaim Computer Center</h6>
      <h6 class="card-text">Cost: FREE</h6>
      <h6 class="card-text">Contact: hack.iloilo@805.foundation</h6>
      <h6 class="card-text">Github: Github</h6>
    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container col-4 text-center">
  <h1 class="">Registration</h1>
  <a href="#" class="text-decoration-none">
    <button class="btn btn-lg btn-block btn-outline-warning px-5">
      Join Now
    </button>
  </a>
</div>
