<nav class="navbar navbar-expand-lg bg-warning navbar-light fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarNavAltMarkup"
  >
    <div class="navbar-nav font-weight-bold">
      <a class="nav-item nav-link" href="#home">Home</a>
      <a class="nav-item nav-link" href="#theme">Theme</a>
      <a class="nav-item nav-link" href="#prizes">Prizes</a>
      <a class="nav-item nav-link" href="#tools">Tools</a>
      <a class="nav-item nav-link" href="#agenda">Agenda</a>
      <a class="nav-item nav-link" href="#mentors">Mentors</a>
      <a class="nav-item nav-link" href="#judges">Judges</a>
      <a class="nav-item nav-link" href="#sponsors">Sponsors</a>
      <a class="nav-item nav-link" href="#contact">Contact</a>
    </div>
  </div>
</nav>
