<div class="container text-center">
  <h1 class="">Prizes</h1>
  <div class="py-3"></div>
  <h5 class="">
    <strong
      >Teams will have an opportunity to win awards for the best overall
      project.
    </strong>
  </h5>
  <h5 class="">
    Just create an app, platform and/or technology that can tie into the smart
    living theme to win the prizes!
  </h5>
  <div class="py-4"></div>
  <div class="card-deck">
    <div class="card text-center p-5">
      <i class="fas fa-trophy fa-5x"></i>
      <div class="card-body">
        <h1 class="card-title">25,000</h1>
        <h5 class="card-text">1st Prize</h5>
      </div>
    </div>
    <div class="card text-center p-5">
      <i class="fas fa-trophy fa-5x"></i>
      <div class="card-body">
        <h1 class="card-title">15,000</h1>
        <h5 class="card-text">2nd Prize</h5>
      </div>
    </div>
    <div class="card text-center p-5">
      <i class="fas fa-trophy fa-5x"></i>
      <div class="card-body">
        <h1 class="card-title">10,000</h1>
        <h5 class="card-text">3rd Prize</h5>
      </div>
    </div>
  </div>
  <div class="py-4"></div>
  <div class="container">
    <h5 class="">All participants will recieve a certificate for competing</h5>
  </div>
</div>
