
<header class="community">
    <div class="py-5"></div>
    <div class="container text-center h-100">
      <div class="row h-100 align-items-center text-white">
        <div class="col-12">
          <h1 class="">2019 Hackathon Theme</h1>
          <div class="py-3"></div>
          <h5 class="">The hackathon will focus on one theme: </h5>
          <div class="py-3"></div>
          <img
          src="/img/flyer/flyer.png"
          alt=""
          class="img-thumbnail border-0"
          />
          <div class="py-4"></div>
          <h5 class="">
            Your challenge is to create an app, platform, and/or technology that
            can tie into the Smart Education theme using datasets provided via our
            special GitHub site.
          </h5>
        </div>
      </div>
      <div class="py-5"></div>
      <div class="py-5"></div>
    </div>
  </header>
