{{ define "main" }}
<div class="py-5"></div>
<div class="py-5"></div>

<div class="container text-center">
  <img src="/img/logo/logo2.png" alt="" class="img-thumbnail border-0" />
</div>

<div class="py-5"></div>

{{ partial "header" . }}

<div id="theme" class="py-5"></div>

{{ partial "theme" . }}

<div id="prizes" class="py-5"></div>

{{ partial "prizes" . }}

<div class="py-5"></div>

{{ partial "teamwork" . }}

<div id="tools" class="py-5"></div>

{{ partial "tools" . }}

<div id="agenda" class="py-5"></div>

{{ partial "agenda" . }}

<div id="mentors" class="py-5"></div>

{{ partial "mentors" . }}

<div id="judges" class="py-5"></div>

{{ partial "judges" . }}

<div id="sponsors" class="py-5"></div>

{{ partial "sponsors" . }}

<div id="contact" class="py-5"></div>

{{ partial "contact" . }}

{{ end }}
